<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="fa fa-check-circle"></span>
                <span>ACW</span>
            </h2>
        </div>

        <div class="sidebar-menu">
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a href="admin.html#v-pills-dashboard"><span class="fa fa-th-large"></span>
                        <span>Home</span></a>
                </li>
                <li>
                    <a href="admin.html#v-pills-students"><span class="fa fa-graduation-cap"></span>
                    <span>Students</span></a>
                </li>
                <li>
                    <a href="admin.html#v-pills-teachers"><span class="fa fa-list"></span>
                        <span>Teachers</span></a>
                </li>
                <li>
                    <a href="admin.html#v-pills-class"><span class="fa fa-table"></span>
                    <span>Classes</span></a>
                </li>
                <li>
                    <a href="admin.html#v-pills-history"><span class="fa fa-history"></span>
                    <span>History</span></a>
                </li>
                <li>
                    <a href="admin.html#v-pills-setting"><span class="fa fa-cog"></span>
                    <span>Setting</span></a>
                </li>
                <li>
                    <a href="../index.html" class="signout">
                        <span class="fa fa-sign-out"></span>
                        <span>Sign out</span>

                    </a>

                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="fa fa-bars"></span>
                </label> Check Attendance
            </h2>
            <div class="search-wrapper">
                <span class="fa fa-search"></span>
                <input type="search" placeholder="Search here">
            </div>
            <div class="user-wrapper">
                <img src="../pics/user.svg" width="30px" height="30px" alt="">
                <div>
                    <h4>Vinny Ng</h4>
                    <small>Teacher</small>
                </div>
            </div>
        </header>

        <main>
            <div class="cards">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Student ID</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Teacher ID</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="cards">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>ACADEMIC YEAR: 2020-2021</h5>
                            <h5>CODE: CS1001</h5>
                            <h5>COURSE: COMPUTER SCIENCE</h5>
                        </div>
                        <div class="col-md-6">
                            <h5>SEMESTER: 2</h5>
                            <h5>CLASS: 18BIT</h5>
                            <h5>LECTURER:
                                <span>TS. LAM QUAN VU <button class="btn btn-outline"><i class="fa fa-trash"></i></button></span>
                                <span>TS. LAM QUAN VU <button class="btn btn-outline"><i class="fa fa-trash"></i></button></span>
                            </h5>
                        </div>
                    </div>
                    <div class="card-single">
                        <h5>V: PRESENT</h5>
                        <h5>L: Late</h5>
                        <h5>A: Absent</h5>
                        <h5>P: Absent with Permision</h5>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>ID</th>
                                        <th>Full Name</th>
                                        <th>First Name</th>
                                        <th>Check</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>001</td>
                                        <td>Nguyen Vo Thanh</td>
                                        <td>Vy</td>
                                        <td><button type="button" class="btn btn-danger">A</button>
                                            <button class="btn btn-primary">P</button>
                                            <button class="btn btn-success">V</button>
                                            <button class="btn btn-warning">L</button></td>
                                        </td>
                                        <td><button class="btn btn-outline"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>001</td>
                                        <td>Nguyen Vo Thanh</td>
                                        <td>Vy</td>
                                        <td><button type="button" class="btn btn-danger">A</button>
                                            <button class="btn btn-primary">P</button>
                                            <button class="btn btn-success">V</button>
                                            <button class="btn btn-warning">L</button></td>
                                        </td>
                                        <td><button class="btn btn-outline"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>001</td>
                                        <td>Nguyen Vo Thanh</td>
                                        <td>Vy</td>
                                        <td><button type="button" class="btn btn-danger">A</button>
                                            <button class="btn btn-primary">P</button>
                                            <button class="btn btn-success">V</button>
                                            <button class="btn btn-warning">L</button></td>
                                        </td>
                                        <td><button class="btn btn-outline"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>001</td>
                                        <td>Nguyen Vo Thanh</td>
                                        <td>Vy</td>
                                        <td><button type="button" class="btn btn-danger">A</button>
                                            <button class="btn btn-primary">P</button>
                                            <button class="btn btn-success">V</button>
                                            <button class="btn btn-warning">L</button></td>
                                        </td>
                                        <td><button class="btn btn-outline"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>001</td>
                                        <td>Nguyen Vo Thanh</td>
                                        <td>Vy</td>
                                        <td><button type="button" class="btn btn-danger">A</button>
                                            <button class="btn btn-primary">P</button>
                                            <button class="btn btn-success">V</button>
                                            <button class="btn btn-warning">L</button></td>
                                        </td>
                                        <td><button class="btn btn-outline"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6" style="overflow-x:auto !important;">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <td>Wednesday,5</td>
                                        <td>Tuesday,11</td>
                                        <td>Wednesday,5</td>
                                        <td>Wednesday,12</td>
                                        <td>Wednesday,18</td>
                                        <td>Wednesday,19</td>
                                        <td>Wednesday,25</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button type="button" class="btn btn-danger">A</button></td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button type="button" class="btn btn-danger">A</button></td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button type="button" class="btn btn-danger">A</button></td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button type="button" class="btn btn-danger">A</button></td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button class="btn btn-success">V</button></td>
                                        <td><button type="button" class="btn btn-danger">A</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

</body>

</html>